<%- include("partials/header") -%>
<% newBlog.forEach((post)=>{ %>
				<h1><%=post.title%></h1>
				<p><%= post.message.substring(0,100)+"..." %><a href="/post/<%=post.title%>">Read More</a></p>
				<%}) %>
	
<%- include("partials/footer") -%>